<?xml version="1.0" encoding="utf-8" ?>
<hipflask version="1.0" update="https://raw.github.com/KevinJump/Jumoo.Hipflask/master/Jumoo.Hipflask/HipFlask.config">
  <hipster name="Bootstrap"
           url="https://github.com/twbs/bootstrap/releases/download/v3.0.0/bootstrap-3.0.0-dist.zip"
           type="zip">
    <folders>
      <folder from="dist\css\" to="css\" />
      <folder from="dist\js\" to="scripts\lib\" />
      <folder from="dist\fonts\" to="fonts\" />
    </folders>
  </hipster>
  <hipster name="fontawesome" 
           url="http://fortawesome.github.io/Font-Awesome/assets/font-awesome.zip"
           type="zip">
    <folders>
      <folder from="font-awesome\css\" to="css\" />
      <folder from="font-awesome\font\" to="font\" />
    </folders>
  </hipster>
  <hipster name="jquery"
           url="http://code.jquery.com/jquery-1.10.2.min.js"
           type="file">
    <files>
      <file from="jquery.temp" to="scripts\lib\jquery-1.10.2.min.js"/>
    </files>
  </hipster>
  <hipster name="angularjs"
           url="http://code.angularjs.org/1.0.8/angular.min.js"
           type="file">
    <files>
      <file from="angularjs.temp" to="scripts\lib\angular.min.js" />
    </files>
  </hipster>
  <hipster name="famfamfam"
           url="http://www.famfamfam.com/lab/icons/silk/famfamfam_silk_icons_v013.zip"
           type="zip">
    <folders>
      <folder from="icons\" to="umbraco\images\umbraco\" />
    </folders>
    
  </hipster>
</hipflask>